p {color:green;}
img {float:right; padding:0 0 2em 2em;}


/* 
*****************************************/
.section-title {
    
}

div.chapter {
    margin-left: 1em;
}
div.subchapter { 
    margin-left: 2em;
}
