{% extends "./html/_layouts/_default.html" %}

{% block title %} Palindrome{% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">

    {{ macros.page_header('Home', 'Palindrome') }}

    <!--
        <header>
            <h1>Palindrome validator</h1>
        </header>
    -->
    
    <section>
        
        <div class="row">
            <div class="twelve columns">

                <p>
                    This is the home page for my palindrome validator Python utility web application.<br/>
                </p>

                <h3>Test text</h3>

                <form method="POST">
                    <fieldset>
                        <legend>Text to be tested</legend>
                        <input type="text" id="test_text_input" name="test_text_input" style="width:100%" />
                    </fieldset>
                    <p>
                        <button type="submit">Test</button>
                    </p>
                </form>

                <p>
                    {{notification}}
                </p>

                {% if palindromes %}
                
                <p>Found results:</p>

                <ol>
                    {% for result in palindromes%}
                    <li>{{result}}</li>
                    {% endfor %}
                </ol>

                {% endif %}

            </div>
        </div>
    
    </section>

    <footer>
        {{ macros.page_footer() }}
    </footer>

</div>

{% endblock %}