# This requirements file lists all dependecies for this project.
# 
# To install the dependencies, run the following command:
# 'pip install -r requirements.txt'
# 

# An example
bottle
#pytest

#python -m pip install SomePackage


# If specific python has no pip module, get the following file and run it:
# https://bootstrap.pypa.io/get-pip.py
# sudo python3.7 get-pip.py

# After installing pip module, you can install packages as follows:
sudo python3.7 -m pip install SomePackage

##### Modules install
# python -m pip install --upgrade pip
sudo python3.7 -m pip install bottle
sudo python3.7 -m pip install flask
sudo python3.7 -m pip install pycryptodome
sudo python3.7 -m pip install jinja2

sudo python3.7 -m pip install requests
sudo python3.7 -m pip install lxml
sudo python3.7 -m pip install beautifulsoup4


sudo python3.7 -m pip install pandas
sudo python3.7 -m pip install numpy
sudo python3.7 -m pip install scikit-learn

pip install markdown
pip install Pygments

# https://sebastianraschka.com/Articles/2014_markdown_syntax_color.html