{% extends "./html/_layouts/_zx.html" %}

{% block title %} {{SITE_NAME}} {% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">

    {{ macros.page_header('Home', 'Home') }}

    <!--

        <header>
            <h1>Home Page</h1>
        </header>
    -->
    
    <section>
        
        <div class="row">
            <div class="twelve columns">

                <p>
                    Secured pages for ZX personal stuff.
                    This is the hosting site for some of my Python web utilities.<br/>
                </p>
                <!--

                <p>Personal utilities are applications that are written and targetted to help me only.<br />
                    They are not of any use of anyone else.
                </p>

                <h3>Personal utilities</h3>

                <ol>
                    <li><a href="/url-dump">Url dump</a></li>
                    <li><a href="/palindrome">Palindrome validator</a></li>
                </ol>


                    <h3>Generic utilities</h3>
                    
                    <ol>
                        <li>PDF Appender</li>
                    </ol>
                    
                    <p>
                        <i>Have fun!</i>
                    </p>
                -->

            </div>
        </div>
    
    </section>

    <footer>
        {{ macros.page_footer() }}
    </footer>

</div>

{% endblock %}