{% extends "./html/_layouts/_default.html" %}

{% block title %} {{SITE_NAME}} {% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">

    {{ macros.page_header('Software', 'Software news') }}

    <!-- 
    <header>
        
        <p>
            This is a page to display news and updates on software that I'm in interested in.
        </p>
            <h1>Reconciliation <small>example</small></h1> 
        </header>
    -->

    <section>
        <table class="software">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Last checked</th>
                    <!-- KIV
                        <th>Tags</th>
                    -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xxx</td>
                    <td>0.1A</td>
                    <td>2019-01-01</td>
                    <!-- KIV
                        <td>Category, asd</td>
                    -->
                </tr>
            </tbody>
        </table>
    </section>

    <footer>
        {{ macros.page_footer() }}
    </footer>

</div>


<script type="text/javascript">

const READYSTATE = {
    UNSENT:             0,  // Client has been created. open() not called yet.
    OPENED:             1,  // open() has been called.
    HEADERS_RECEIVED:   2,  // send() has been called, and headers and status are available.
    LOADING:            3,  // Downloading; responseText holds partial data.
    DONE:               4   // request is done
};

const HTTPSTATUS = {
    OK: 200
};

var ui = {

    "getXHR": function () {
        if (window.XMLHttpRequest) {
            return new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            return new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            console.log("Browser does not support XMLHTTP.");
            return false;
        }
    },
    "ajaxCall" : function () {
        // Get data
        var actionUrl = "/api/software/news";
        var xhr = ui.getXHR();
        xhr.onreadystatechange = function () {
            var DONE = 4; // readyState 4 means the request is done.
            var OK = 200; // status 200 is a successful return.
            
            if (xhr.readyState === READYSTATE.DONE) {
                if (xhr.status === HTTPSTATUS.OK) {
                    pj = JSON.parse(xhr.responseText);
                    if (pj) {
                        // Generate HTML markup for table's tbody
                        var tbl = document.querySelector("table.software");
                        var new_tbody = tbl.createTBody();
                        var row_idx = 0;
                        var key_idx = 0;

                        // Foreach record, add new row
                        for (row_idx = 0; row_idx < pj.length; row_idx++) {

                            var row = new_tbody.insertRow(row_idx);

                            for (key_idx = 0; key_idx < 3; key_idx++) {
                                var newCell = row.insertCell(key_idx);
                                newCell.innerHTML = pj[row_idx][key_idx];
                            }

                            // for (key_idx = 0; key_idx < pj.layout.fields.length; key_idx++) {
                            //     var newCell = row.insertCell(key_idx);
                            //     newCell.innerHTML = pj.data[row_idx][pj.layout.fields[key_idx].field];
                            // }
                        }

                        tbl.tBodies[0].remove(); // Remove the old tbody

                    } else {
                        console.log("AJAX call return no data.");
                    }
                } else {
                    console.log('Error: ' + xhr.status); // An error occurred during the request.
                }
            }
        };

        xhr.open('GET', actionUrl);
        xhr.send(null);
    }

};

(function () {

    console.log("Hello world");
    ui.ajaxCall();
}());

</script>

{% endblock %}