{% extends "./html/_layouts/_project.html" %}

{% block title %} {{SITE_NAME}} {% endblock %}

{% block style %}
{% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">

    {{ macros.page_header('Project', 'Add project') }}

    <section>

        <form method="POST">
            <div class="row">
                <label for="text_project_name">Project name</label>
                <input type="text" id="text_project_name" name="project_name" />
            </div>
            <div class="row">
                <label for="select_category">Category</label>
                <select id="select_category" name="project_category">
                    <option value="">Undefined</option>
                    <option value="game">Game</option>
                    <option value="trading">Trading</option>
                    <option value="info">Info</option>
                </select>
            </div>
            <div class="row">
                <label for="select_status">Status</label>
                <select id="select_status" name="project_status">
                    <option value="">Unknown</option>
                    <option value="proposal">Proposal</option>
                    <option value="pending_proposal_approval">Pending proposal approval</option>
                    <option value="proposal_approved">Proposal approved</option>
                    <option value="project_started">Project started</option>
                    <option value="project_ongoing">Project ongoing</option>
                    <option value="project_stopped">Project stopped</option>
                    <option value="project_terminated">Project terminated</option>
                    <option value="project_end">Project end</option>
                </select>
            </div>

            <button>Add project</button>
        </form>

        <button id="btn_test">Test button</button>
        <button id="btn_add">AJAX add button</button>

    </section>

    <footer>
        {{ macros.page_footer() }}
    </footer>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

    const ui = {
        // UI controls
        text_project_name : undefined,
        select_category : undefined,
        select_status : undefined,

        "hideAllTabContent" : function() {
            // hide content of all tabs
            for (i = 0; i < ui.tabContentList.length; i++) {
                ui.tabContentList[i].style.display = "none";
            }
        },
        "openTab" : function(event) {
            var i;

            // hide content of all tabs
            // ZX:  This is kind of inefficient; I mean really?!
            //      Iterate the whole list? Where's my pinpoint precision?! Lol
            //      What we should really be doing is track the item that was last clicked;
            //      Feeling lazy; KIV for now.
            ui.hideAllTabContent();

            // Get all elements with class="tablinks" and remove the class "active"
            for (i = 0; i < ui.tabButtonList.length; i++) {
                ui.tabButtonList[i].className = ui.tabButtonList[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(event.target.value).style.display = "block";
            event.currentTarget.className += " active";
        },

        "update_select" : function(select_element, pj) {
            // Clear select options
            select_element.options.length = 0;
            // Append select select_element
            // ZX: not bad; but is terrible for long list (a lot of redraws?!)
            pj.forEach(function(e) {
                select_element.options[select_element.options.length] =
                new Option(e[1], e[0]);
            });

        },

        "ajax_get_json" : function(url, fn) {
            // Make AJAX call
            var result = {
                "status" : undefined,
                "data" : undefined
            };
            try {
                var xhr = new XMLHttpRequest();
                xhr.responseType = "json"; // https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseType
                xhr.open('GET', url);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        var content_type = xhr.getResponseHeader("Content-Type");
                        if (content_type === "application/json") {
                            fn(xhr.response);
                        } else {
                            console.error("Unknown [Content-Type]", content_type);
                        }
                    } else {
                        console.error('Request failed.  Returned status', xhr.status);
                    }
                };
                xhr.send();
            }
            catch(err) {
                console.log(err)
                result = null;
            }
            finally {
                // 
                return result;
            }
        },



        "init" : function() {

            ui.text_project_name = document.getElementById("text_project_name");
            ui.select_category = document.getElementById("select_category");
            ui.select_status = document.getElementById("select_status");
            
            btn_test.addEventListener("click", function(ev) {
                ui.ajax_get_json('/api/project/get_category_list', function(pj) {
                    ui.update_select(ui.select_category, pj);
                });
            });

            btn_test.addEventListener("click", function(ev) {
                ui.ajax_get_json('/api/project/get_status_list', function(pj) {
                    ui.update_select(ui.select_status, pj);
                });
            });
            
            btn_add.addEventListener("click", function(ev) {
               debugger;
               var xhr = new XMLHttpRequest();
               var inputData = {
                   "project_name"       : "test",
                   "project_category"   : 1,
                   "project_status"     : 1,
               };
               
                xhr.open('POST', '/api/project/add');
                // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // alert('Something went wrong.  Name is now ' + xhr.responseText);
                        debugger;
                    }
                    else if (xhr.status !== 200) {
                        console.error('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                // xhr.send(encodeURI('name=' + newName));
                xhr.send(JSON.stringify(inputData));

            });

        }

    };

    (function() {
        // Wait for DOM to load
        document.addEventListener("DOMContentLoaded", function(event) {
            ui.init();
            

            // Bind events

            // Initialize state

            // // Hide the submit button. Non-JavaScript users will still see it.
            // document.getElementById("submit").style.display = "none";

            // // Put the form control into a variable
            // var e = document.getElementById("first_name");

            // // Wait for user input  
            // e.addEventListener("keyup", function() {

            // var first_name = document.getElementById("first_name").value;
            // document.getElementById("msg").textContent = first_name;

            // }, false);

        });


    }());

</script>
{% endblock %}