{% extends "./html/_layouts/_project.html" %}

{% block title %} {{SITE_NAME}} {% endblock %}

{% block style %}
{% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">

    {{ macros.page_header('Project', 'Add project') }}

    <section>

        <form method="POST">
            <div class="row">
                <label for="text_project_name">Project name</label>
                <input type="text" id="text_project_name" name="project_name" />
            </div>
            <div class="row">
                <label for="select_category">Category</label>
                <select id="select_category" name="project_category">
                    <option value="">Undefined</option>
                    <option value="game">Game</option>
                    <option value="trading">Trading</option>
                    <option value="info">Info</option>
                </select>
            </div>
            <div class="row">
                <label for="select_status">Status</label>
                <select id="select_status" name="project_status">
                    <option value="">Unknown</option>
                    <option value="proposal">Proposal</option>
                    <option value="pending_proposal_approval">Pending proposal approval</option>
                    <option value="proposal_approved">Proposal approved</option>
                    <option value="project_started">Project started</option>
                    <option value="project_ongoing">Project ongoing</option>
                    <option value="project_stopped">Project stopped</option>
                    <option value="project_terminated">Project terminated</option>
                    <option value="project_end">Project end</option>
                </select>
            </div>

            <button>Add project</button>
        </form>

        


    </section>

    <footer>
        {{ macros.page_footer() }}
    </footer>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

    const ui = {
        tabButtonList:  undefined,
        tabContentList: undefined,

        "hideAllTabContent" : function() {
            // hide content of all tabs
            for (i = 0; i < ui.tabContentList.length; i++) {
                ui.tabContentList[i].style.display = "none";
            }
        },
        "openTab" : function(event) {
            var i;

            // hide content of all tabs
            // ZX:  This is kind of inefficient; I mean really?!
            //      Iterate the whole list? Where's my pinpoint precision?! Lol
            //      What we should really be doing is track the item that was last clicked;
            //      Feeling lazy; KIV for now.
            ui.hideAllTabContent();

            // Get all elements with class="tablinks" and remove the class "active"
            for (i = 0; i < ui.tabButtonList.length; i++) {
                ui.tabButtonList[i].className = ui.tabButtonList[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(event.target.value).style.display = "block";
            event.currentTarget.className += " active";
        },

        "init" : function() {
            var i = 0;

            ui.tabButtonList    = document.getElementsByClassName("tab-button");
            ui.tabContentList   = document.getElementsByClassName("tab-content");

            for (i = 0; i < ui.tabButtonList.length; i++) {
                ui.tabButtonList[i].addEventListener("click", ui.openTab);
            }

            ui.hideAllTabContent();
            ui.tabButtonList[0].click(); // Display content of first tab by default.

        }

    };

    (function() {
        // Wait for DOM to load
        document.addEventListener("DOMContentLoaded", function(event) {
            ui.init();

            // Bind events

            // Initialize state

            // // Hide the submit button. Non-JavaScript users will still see it.
            // document.getElementById("submit").style.display = "none";

            // // Put the form control into a variable
            // var e = document.getElementById("first_name");

            // // Wait for user input  
            // e.addEventListener("keyup", function() {

            // var first_name = document.getElementById("first_name").value;
            // document.getElementById("msg").textContent = first_name;

            // }, false);

        });


    }());

</script>
{% endblock %}