{% extends "./html/_layouts/_default.html" %}

{% block title %} {{SITE_NAME}} {% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">

    {{ macros.page_header('About') }}

    <header>
        <h1>About Page</h1>
    </header>
    
    <section>
        
        <div class="row">
            <div class="twelve columns">

                <p>
                    This web site host some small Python utility web applications.<br/>
                    These utilities are separated into generic utilities and personal utilities.
                </p>

                <p>Personal utilities are applications that are written and targetted to help me only.
                    They are not of any use of anyone else.
                </p>

                <p>Generic utilities are applications that can be of use to anyone who uses for the same goal.</p>

                <h3>Personal utilities are:</h3>

                <ol>
                    <li>Url dump
                        <p>
                            Takes in a file list of urls and dump them into local Sqlite3 db.
                        </p>
                    </li>
                    <li>Palindrome validator
                        <p>
                            Takes in a text string and displays palindromes found.
                        </p>
                    </li>
                    
                </ol>

                <h3>HCI utilities are:</h3>

                <ol>
                    <li>PDF Appender
                        <p>
                            Appends image to PDF list and generate.
                        </p>
                    </li>
                </ol>

            </div>
        </div>
    
    </section>

    <footer>
        {{ macros.page_footer() }}
    </footer>

</div>

{% endblock %}