{% extends "./html/_layouts/_default.html" %}

{% block title %} {{SITE_NAME}} {% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">

    {{ macros.page_header('Toto') }}

    <header>
        <h1>Test Page <small>chips</small>
        </h1>
    </header>

    <section>

        <div class="row">
            <div class="twelve columns">
                <p>
                    Chips input w/o jQuery <button type="button" class="button" id="fetchDataButton">Fetch data</button>
                </p>

                <h4>Sort <button type="button" class="button" id="applySortButton">Sort</button></h4>
                <!--

                    <ul class="tags-input-area" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">
                        <li class="tag">fancy <span class="interactive remove-tag">&#10006;</span>
                        </li>
                        <li class="new-tag">
                            <input type="text" autocomplete="off" />
                        </li>
                    </ul>
                -->

                
                <ul class="tags-input-area">
                    <li class="tag">fancy <span class="interactive remove-tag">&#10006;</span>
                    </li>
                    <li class="new-tag">
                        <input type="text" autocomplete="off" />
                    </li>
                </ul>
                    
                <table class="reconciliation">
                    <thead>
                        <tr>
                            <th>Indicator</th>
                            <th>Trade date</th>
                            <th>Exchange</th>
                            <th>Broker</th>
                            <th>Security Id</th>
                            <th>Account</th>
                            <th>Src Qty</th>
                            <th>Dst Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2018-12-14</td>
                            <td>XASX</td>
                            <td>JPM</td>
                            <td>BHP.AX</td>
                            <td>84721</td>
                            <td>10</td>
                            <td>11</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </section>

    <footer>
        {{ macros.page_footer() }}
        [<span id="ex">x</span>, <span id="ey">y</span>]

    </footer>

</div>

<style>
    .interactive {
        cursor: pointer;
    }

    .tags-input-area {
        border: solid 2px #ccc;
        list-style: none;
    }

    li.tag,
    li.new-tag {
        display: inline-block;
        margin: 0.36em 0 0.36em 0.36em;
        padding: 0 0.36em;
    }

    li.tag {

        background-color: #fafafa;
        border: solid 1px #ccc;
        border-radius: 5px;
    }

    li.new-tag {
        /* N/A */
    }

    li.new-tag input {
        border: none;
        margin: 0;
        padding: 0;
        height: auto;
    }

    li.new-tag input[type=text]:focus {
        border: none;
    }

    /* 
    li.tag.input {
        border:0;
        margin: 0;
    }
    li.tag.input input {
        margin:0;
        border:0;
    } */


    .tag.dragElem {
        opacity: 0.4;
    }
    .tag.over {
        border-left: 3px solid blue;
        /*
        padding-left: 3px;
        border: 2px dashed #000;
        border-top: 2px solid blue;
        */
    }

</style>

<script>
    // Write a script that detects when a 
    var pj = {};
    var tags = ["new", "reconciliation", "2018-12-12", "jpm", "XASX"];
    tags = ["security id desc", "account desc"]

    // TODO:
    var chips = {
        tags : ["new", "reconciliation", "2018-12-12", "jpm", "XASX"],
        renderChips: function() {},
        addNewChips: function(e) {},
        removeChips: function(e) {}
    };

    var ajax = {
        "getRequest": function () {
            if (window.XMLHttpRequest) {
                return new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                return new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                console.log("Browser does not support XMLHTTP.");
                return false;
            }
        }
    };

    function dragover_handler(ev) {
        ev.preventDefault();
        // Set the dropEffect to move
        ev.dataTransfer.dropEffect = "copy"

        var tagList = document.getElementsByClassName("tags-input-area")[0].children;
        for (var tagIdx = 0; tagIdx < tagList.length - 1; tagIdx++) {
            var element = tagList[tagIdx];
            
            var boundingRect = element.getBoundingClientRect();

            document.getElementById("ex").innerText = ev.clientX;
            document.getElementById("ey").innerText = ev.clientY;

            if (
                (ev.clientX >= boundingRect.left) && (ev.clientX <= boundingRect.right)
                // && (ev.screenY <= boundingRect.top)
                // && (ev.screenY >= boundingRect.bottom)
            )
            {
                //console.log("Yes overlapping", (ev.clientX >= boundingRect.left), (ev.clientX <= boundingRect.right));
                console.log(ev.clientX , boundingRect.left, "|", ev.clientX , boundingRect.right);

            }

            // check if ev.clientX and ev.clientY is withing bounding box

        }
        // document.getElementsByClassName("tags-input-area")[0].children.forEach(function(e) {

        // });
        //     element => {
        //     //console.log(element.getBoundingClientRect());
        // });

        

        //debugger;
        // var overlap = !(rect1.right < rect2.left || 
        //         rect1.left > rect2.right || 
        //         rect1.bottom < rect2.top || 
        //         rect1.top > rect2.bottom)

    }
    function drop_handler(ev) {
        ev.preventDefault();
        // Get the id of the target and add the moved element to the target's DOM
        var data = ev.dataTransfer.getData("text/plain");
        //ev.target.appendChild(document.getElementById(data));
        
    }


    function dragstart_handler(ev) {
        console.log("dragStart");
        // Set the drag effect to move; there are 3 effects:
        //  copy - indicates that the data being dragged will be copied from its present location to the drop location. 
        //  move - indicates that the data being dragged will be moved
        //  link - indicates that some form of relationship or connection will be created between the source and drop locations. 
        //  Set the drag effect to move;
        ev.dataTransfer.dropEffect = "copy";

        // Add the target element's id to the data transfer object
        // ev.dataTransfer.setData("text/plain", ev.target.id);
        ev.dataTransfer.setData("text/plain", ev.target.firstChild.data.trim());
    }



    function renderChips() {
        var elementList = document.getElementsByClassName("tags-input-area");
        var newTagItem = document.getElementsByClassName("new-tag")[0];
        if (elementList.length <= 0) {
            return;
        }

        var rootElement = elementList[0];
        var html = "";

        // Clear all tags
        rootElement.querySelectorAll(".tag").forEach(e => {
            e.remove();
        });

        // Append each tag we have in list into tag area
        tags.forEach(element => {
            var newTagElement = document.createElement('li');
            newTagElement.classList.add("tag");
            newTagElement.setAttribute("draggable","true");
            //newTagElement.setAttribute("ondragstart","dragstart_handler(event);");
            newTagElement.innerHTML = element + ' <span class="interactive remove-tag">&#10006;</span></li>';
            // rootElement.prepend(newTagElement);
            rootElement.insertBefore(newTagElement, newTagItem);
        });

        // Set event-handlers
        document.querySelectorAll(".interactive.remove-tag").forEach(element => {
            // Because JavaScript do not provide a way to check if an event listener has been assigned to an element,
            // we will always remove the event listener that we want to attach 
            element.removeEventListener("click", testClick);
            element.addEventListener("click", testClick);
        });

        
        //var cols = document.querySelectorAll('.tags-input-area .tag');
        var cols = document.querySelectorAll('.tags-input-area .tag,.tags-input-area .new-tag');
        [].forEach.call(cols, addDnDHandlers);
    }

    function addNewChips(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9) {
            e.preventDefault();
            tags.push(this.value);
            renderChips();
            this.value = "";
            console.log("TAB");
            return;
        }
        console.log(keyCode);
    }

    function testClick(e) {
        console.log("CLICKED");
        //debugger;
        e.stopPropagation();
        var targetTagText = e.target.parentElement.innerHTML.replace(e.target.outerHTML, "").trim();
        var foundIndex = tags.indexOf(targetTagText);
        tags.splice(foundIndex, 1)
        console.log("TODO: remove ", targetTagText, "found at", foundIndex);
        renderChips();
    }

    function renderTableData() {
        if (!pj) {
            return;
        }

        if (pj.layout) {
            pj.layout.fields.sort(function (a, b) { // Sort display order fields by "seq"
                return a.seq - b.seq;
            });
        }

        if (pj.length === 0) {
            return
        } 

        var tbl = document.querySelector("table.reconciliation");

        var new_tbody = tbl.createTBody();
        var row_idx = 0;
        var key_idx = 0;

        for (row_idx = 0; row_idx < pj.data.length; row_idx++) {

            var row = new_tbody.insertRow(row_idx);

            for (key_idx = 0; key_idx < pj.layout.fields.length; key_idx++) {
                var newCell = row.insertCell(key_idx);
                newCell.innerHTML = pj.data[row_idx][pj.layout.fields[key_idx].field];
            }
        }

        tbl.tBodies[0].remove(); // Remove the old tbody
    }

    function ajaxCall() {
        // Get data
        var actionUrl = "http://localhost:50001/api/recon/2018-12-14";
        var xhr = ajax.getRequest();
        xhr.onreadystatechange = function () {
            var DONE = 4; // readyState 4 means the request is done.
            var OK = 200; // status 200 is a successful return.
            if (xhr.readyState === DONE) {
                if (xhr.status === OK) {
                    //console.log(xhr.responseText); // 'This is the returned text.'
                    pj = JSON.parse(xhr.responseText);
                    //debugger;

                    if (pj) {
                        renderTableData();
                        return;

                        // Assumes pj will have a layout section and a data section
                        if (pj.layout) {
                            // pj.layout.fields.reduce(function(a, cv) {
                            //     debugger;
                            //     //return cv;
                            // })

                            pj.layout.fields.sort(function (a, b) { // Sort display order fields by "seq"
                                return a.seq - b.seq;
                            });
                        }



                        if (pj.length === 0) {
                            //     document.querySelector("table.resource-types").classList.add("hide");
                            //     document.getElementById("resource_types_message").classList.remove("hide");
                            return
                        } 


                        // Render contents into table


                        // if (pj.length === 0) {
                        //     document.querySelector("table.resource-types").classList.add("hide");
                        //     document.getElementById("resource_types_message").classList.remove("hide");
                        // } else {
                        var tbl = document.querySelector("table.reconciliation");

                        var new_tbody = tbl.createTBody();
                        var row_idx = 0;
                        var key_idx = 0;

                        for (row_idx = 0; row_idx < pj.data.length; row_idx++) {
                            var row = new_tbody.insertRow(row_idx);
                            //var keys = Object.keys(pj[row_idx])


                            for (key_idx = 0; key_idx < pj.layout.fields.length; key_idx++) {
                                var newCell = row.insertCell(key_idx);
                                newCell.innerHTML = pj.data[row_idx][pj.layout.fields[key_idx].field];
                            }

                            // var cell0 = row.insertCell(0);
                            // var cell1 = row.insertCell(1);
                            // var cell2 = row.insertCell(2);
                            // var cell3 = row.insertCell(3);
                            // var cell4 = row.insertCell(4);
                            // var cell4 = row.insertCell(5);
                            // var cell4 = row.insertCell(6);
                            // var cell4 = row.insertCell(7);
                            // var cell4 = row.insertCell(8);

                            // cell0.innerHTML = (row_idx + 1).toString();
                            // cell1.innerHTML = pj[row_idx]["name"];
                            // cell2.innerHTML = pj[row_idx]["description"];
                            // cell3.innerHTML = pj[row_idx]["count"];
                            //cell4.innerHTML = "<a href='#'>Remove</a>";
                        }

                        tbl.tBodies[0].remove(); // Remove the old tbody

                        //     document.getElementById("resource_types_message").classList.add("hide");
                        //     document.querySelector("table.resource-types").classList.remove("hide");
                        // }
                    } else {
                        console.log("AJAX call return no data.");
                    }

                } else {
                    console.log('Error: ' + xhr.status); // An error occurred during the request.
                }
            }


            // xhr.setRequestHeader('Content-Type', 'application/json');
            // var type_name = document.getElementById("resource_type_name").value;
            // var type_desc = document.getElementById("resource_type_description").value;
            // var type_count = document.getElementById("resource_type_count").value;

            // application/x-www-form-urlencoded
            // var post_data = encodeURI('name=');

            // var post_data = {
            //     "name" : type_name,
            //     "des" : type_desc,
            //     "count" : type_count
            // };
            // console.log(post_data);
        }
        xhr.open('GET', actionUrl);
        xhr.send(null);
    }

    function sortCompare(a, b) {
        if (typeof(a) === "string") {
            return a.localeCompare(b);
        } else {
            return a - b;
        }
    }


/////////////////////////////////////////////////////////////////////////////////////////

var dragSrcEl = null;

function handleDragStart(e) {
    // Target (this) element is the source node.
    dragSrcEl = this;

    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.outerHTML);

    this.classList.add('dragElem');
}

function handleDragOver(e) {
    if (e.preventDefault) {
        e.preventDefault(); // Necessary. Allows us to drop.
    }
    this.classList.add('over');

    e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.

    return false;
}

function handleDragEnter(e) {
  // this / e.target is the current hover target.
}

function handleDragLeave(e) {
    this.classList.remove('over');  // this / e.target is previous target element.
}

function handleDrop(e) {
    // this/e.target is current target element.

    if (e.stopPropagation) {
        e.stopPropagation(); // Stops some browsers from redirecting.
    }

    // Don't do anything if dropping the same column we're dragging.
    if (dragSrcEl != this) {
        // Set the source column's HTML to the HTML of the column we dropped on.
        
        //dragSrcEl.innerHTML = this.innerHTML;
        //this.innerHTML = e.dataTransfer.getData('text/html');
        this.parentNode.removeChild(dragSrcEl);
        var dropHTML = e.dataTransfer.getData('text/html');
        this.insertAdjacentHTML('beforebegin',dropHTML);
        var dropElem = this.previousSibling;
        addDnDHandlers(dropElem);

        document.querySelectorAll(".interactive.remove-tag").forEach(element => {
            // Because JavaScript do not provide a way to check if an event listener has been assigned to an element,
            // we will always remove the event listener that we want to attach 
            element.removeEventListener("click", testClick);
            element.addEventListener("click", testClick);
        });

    }

    this.classList.remove('over');
    return false;
}

function handleDragEnd(e) {
    this.classList.remove('over');
    this.classList.remove('dragElem');
}


function addDnDHandlers(elem) {
    elem.addEventListener('dragstart', handleDragStart, false);
    elem.addEventListener('dragenter', handleDragEnter, false)
    elem.addEventListener('dragover', handleDragOver, false);
    elem.addEventListener('dragleave', handleDragLeave, false);
    elem.addEventListener('drop', handleDrop, false);
    elem.addEventListener('dragend', handleDragEnd, false);
}


    (function () {
        console.log("[START]");

        // Write a function that renders tag
        renderChips();


        // https://developer.mozilla.org/en-US/docs/Web/Events

        var tagsInputArea = document.getElementsByClassName("tags-input-area")[0];
        tagsInputArea.addEventListener("click", function (e) {
            console.log("focus");
            document.getElementsByClassName("new-tag")[0].children[0].focus();
            //e.stopPropagation();
        });
        //inputElement.addEventListener("keydown", addNewChips);

        // Add event listeners for input
        var newTagItem = document.getElementsByClassName("new-tag")[0];
        var inputElement = document.getElementsByClassName("new-tag")[0].children[0];
        inputElement.addEventListener("keydown", addNewChips);


        var fetchDataButton = document.getElementById("fetchDataButton");
        fetchDataButton.addEventListener("click", function(e) {
            console.log("Make ajax call");
            ajaxCall();
        });

        var applySortButton = document.getElementById("applySortButton");
        applySortButton.addEventListener("click", function(e) {
            console.log("Sort");
            // data.layout.fields.sort(function (a, b) { // Sort display order fields by "seq"
            //     debugger;
            //     return a.seq - b.seq;
            // });


            var orderFields = [
                {"field" : "security_id",   "asc": 1},
                {"field" : "account",       "asc": 0}
            ];

            // Parse sort criteria
            
            orderFields = [];
            tags.forEach(tag => {
                // Parse each tag into corresponding entry in orderFields[]
                // {"field" : "security_id",   "asc": 1},
                var asc = 1;
                var targetLabel = tag.trim();
                var match = null;
                var regex = null;

                regex = /DESC$/i;
                if (tag.match(regex) != null)
                {
                    asc = 0;
                    targetLabel = tag.replace(regex,"").trim();
                }

                regex = /ASC$/i;
                if (tag.match(regex) != null)
                {
                    asc = 1;
                    targetLabel = tag.replace(regex,"").trim();
                }

                var orderField = pj.layout.fields.find(function (element) {
                    return (element.label.toUpperCase() === targetLabel.toUpperCase());
                });

                if (orderField) {
                    orderFields.push({
                        "field" : orderField.field,   
                        "asc"   : asc
                    });
                }
            });
            
            pj.data.sort(function (a, b) {
                if (orderFields.length <= 0) {
                    return;
                }

                var orderField = orderFields[0];
                var ordSeq = 0;
                if (orderField.asc === 1) {
                    ordSeq = sortCompare(a[orderField.field], b[orderField.field]);     // Ascending order
                } else {
                    ordSeq = sortCompare(b[orderField.field], a[orderField.field]);     // Descending order
                }

                // If we cannot find any difference from first-order compare
                // compare until we find a difference in the fields that we want sorted.
                // If there's no difference, it probably doesn't matter. ;-)
                if (ordSeq === 0) {
                    orderFields.forEach(orderField => {
                        if (orderField.asc === 1) {
                            ordSeq = sortCompare(a[orderField.field], b[orderField.field]);     // Ascending order
                        } else {
                            ordSeq = sortCompare(b[orderField.field], a[orderField.field]);     // Descending order
                        }
                        
                        if (ordSeq !== 0) {
                            return;
                        }
                    });
                }
                return ordSeq;

            });

            //sort(pj.data, {'security_id', 'account'})
            renderTableData();
            // sort
        });


    })();
</script>

{% endblock %}