{% extends "./html/_layouts/_trading.html" %}

{% block title %} {{SITE_NAME}} {% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">

    {{ macros.page_header('Home', 'Home page') }}

    <!--

        <header>
            <h1>Home Page</h1>
        </header>
    -->
    
    <section>
        
        <div class="row">
            <div class="twelve columns">

                <p>
                    Page about trading.<br/>
                </p>

                <a href="/trading/sgx/charts/test">Charts test page</a>

            </div>
        </div>
    
    </section>

    <footer>
        {{ macros.page_footer() }}
    </footer>

</div>

{% endblock %}
